<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-category">Menu</li>
      <li class="nav-item">
        <a class="nav-link" href="/artigos">
          <i class="menu-icon typcn typcn-document-text"></i>
          <span class="menu-title">Artigos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/listartigos">
          <i class="menu-icon typcn typcn-document-text"></i>
          <span class="menu-title">Listar Artigos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">
          <i class="menu-icon typcn typcn-document-text"></i>
          <span class="menu-title">Utilizadores</span>
        </a>
      </li>
    </ul>
  </nav>