<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
	           <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="profile-image">
                  <img class="img-xs rounded-circle" src="{{session['img']}}" alt="Perfil">
                  <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">{{session['username']}}</p>
                  <p class="designation">{{session['cargo']}}</p>
                </div>
              </a>
            </li>
      <li class="nav-item nav-category">Artigos</li>
      <li class="nav-item">
        <a class="nav-link" href="/listartigos">
          <i class="menu-icon typcn typcn-document-text"></i>
          <span class="menu-title">Listar Artigos</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/artigos">
          <i class="menu-icon typcn typcn-document-text"></i>
          <span class="menu-title">Adicionar Artigos</span>
        </a>
      </li>
      <li class="nav-item nav-category">Utilizadores</li>
      <li class="nav-item">
        <a class="nav-link" href="/listusers">
          <i class="menu-icon typcn typcn-document-text"></i>
          <span class="menu-title">Listar Utilizadores</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/criarusers">
          <i class="menu-icon typcn typcn-document-text"></i>
          <span class="menu-title">Adicionar Utilizadores</span>
        </a>
    </ul>
  </nav>